# Core App
streamlit
chromadb[lite]==0.4.13  # Prevents server dependency issues
langchain==0.3.21
langchain-core==0.3.47
langchain-text-splitters==0.3.7
langsmith==0.3.18

# LLMs / Embeddings
openai
sentence-transformers

# Utilities
pandas
numpy
tqdm
scikit-learn
regex
python-dotenv

# Evaluation (if used)
rouge_score
bert-score

# Visualization (if needed)
matplotlib
